<h1>Soy la pagina 1</h1>

 <div ng-controller="Pagina1Controller" class ="menus">
<table class="table table-striped table-hover">
  <th>
     Cedula
    </th>
  <th>
     Nombre
  </th>
  <th>
     Direccion
  </th>
  <th>
     Telefono fijo
  </th>
  <th>
     Correo
  </th>
  <th>
     Ciudad
  </th>
  <tr ng-repeat="dato in datos">
    <td>
      {{dato.NACIONALIDAD +"-"+ dato.CEDULA}}
    </td>
    <td>
      {{dato.NOMBRE}}
    </td>
    <td>
      {{dato.DIRECCION}}
    </td>
    <td>
      {{dato.TFIJO1}}
    </td>
    <td>
      {{dato.EMAIL1}}
    </td>
    <td>
      {{dato.CIUDAD}}
    </td>
  </tr>
</table>
<button ng-click="importData()"> cargar </button>
         </li>
     </ul>
      <div class="debug">
      <pre ng-bind="datos | json">
      </pre>
    </div>


 </div>



<p class ="mensaje">{{mensaje}}</p>
